<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
    <style>
        body { background: #3C3B3F;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
    </style>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {%for message in messages%}
        <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {%endwith%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
    <h1 class= "text-center mt-5 mb-5 text-primary"> Pagos </h1>

    <div class="container">
        <div class="card">
            <div class="card-body"> 
                <form action="/add_pago" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Costo</label>
                            <input type="text" class="form-control mb-3" name="Costo">
                        </div>
                        <div class="col">
                            <label>Mesa</label>
                            <input type="text" class="form-control mb-3" name="Mesa">
                        </div>
                        <div class="col">
                            <label>Medio de Pago</label>
                            <input type="text" class="form-control mb-3" name="Medio_de_pago">
                        </div>
                        <div class="col">
                            <label>Contacto</label>
                            <input type="text" class="form-control mb-3" name="Contacto">
                        </div>
                        <div class="col">
                            <label>Reserva</label>
                            <input type="text" class="form-control mb-3" name="Reserva">
                        </div>
                        <div class="col">
                            <label>Fecha y Hora</label>
                            <input type="text" class="form-control mb-3" name="HoraFecha">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Save</button>
                        </div>
                    </div>
                    
                </form>
                <table class="table table-borderer">
                    <thead>
                        <th scope="col">ID Pago</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Mesa</th>
                        <th scope="col">Medio_de_pago</th>
                        <th scope="col">Contacto</th>
                        <th scope="col">Reserva</th>
                        <th scope="col">Fecha y Hora</th>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{d.IDPago}}</td>
                            <td>{{d.Costo}}</td>
                            <td>{{d.Mesa}}</td>
                            <td>{{d.Medio_de_pago}}</td>
                            <td>{{d.Contacto}}</td>
                            <td>{{d.Reserva}}</td>
                            <td>{{d.HoraFecha}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>